%h2 Request password
= form_tag "/users/sendpassword" do
 %div{:align => "center"}
  = label :user, :email, 'Email:*'
  = text_field :user, 'email'
  %br/
  %br/  
  = submit_tag 'Send Password'
 %div
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/ 

