<!DOCTYPE html>
<html>
<head>
  <title>Physicalfocus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="title">Welcome To Physical Focus!!</h1>
<div>
<%= yield %>
The Page is under construction!!
</div>

<div>
   <form tag="Create Logon">
   <div align="center">
	Username *:  <input type="username" name="username" />
	<br/>
        <br/>
        Password *:    <input type="password" name="pwd" />
 	<br/>
	<br/>
		<input type="submit" value="Submit" />
        <br/>
        <br/>
        Sign Up for New User
        <br/>
        <br/>
        Forgot Password?
    </div>
	</form>
  </div>
   <div>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
<br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
    <br/>
   <br/>
   <br/>
</div>
<div align="center" class="footer">
     Created by Montclair State University students (Anagha Tasgaonkar, Krupa Patel, Olivia Larson, Vinothini Ramachandran, Enis Bilgin)
</div>
</body>
</html>
