/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */
html, body {

background-image:url('http://www.mrwallpaper.com/wallpapers/daisies-green-background-1280x720.jpg');
  margin: 0;
  padding: 0;
  color: black;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11pt;
  background-repeat:no-repeat;
  background-size:cover;
  }

h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: #006600;
  color: white;
  border-bottom: 4px solid #31B404;
  font-size: 2em;
  font-style: normal;
}
#footer{
    background-color: #006600;
    position: absolute;
    top:100%;
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 15pt;
    font-style: bold;
    position:absolute;
    bottom:0;
    width: 100%;
    height:60px;
}
#notice {
  background: #006600;
  margin: 1em 0;
  padding: 4px;
  font-size: 150%;
}
#warning {
  margin: 1em 0;
  padding: 4px;
  color:#FF1919;
}
#logo{
  position: absolute;
  top:0;
  right:0;
}

label {
    display:inline-block;
    width:90px;
    text-align: left;
 }

.logout {
  position: relative;
  left:65%;
  bottom:0%;
  -moz-box-shadow: 3px 2px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 2px 0px 0px #8a2a21;
  box-shadow: 3px 2px 0px 0px #8a2a21;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color:#c62d1f;
  -moz-border-radius:21px;
  -webkit-border-radius:21px;
  border-radius:21px;
  border:1px solid #140d0c;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:19px;
  padding:9px 33px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.logout:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24437;
}
.logout:active {
 position: relative;
  left:65%;
  bottom:0%;
}

.table {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 2px #888888;
  border:2px solid #ff0000;
  
  -moz-border-radius-bottomleft:12px;
  -webkit-border-bottom-left-radius:12px;
  border-bottom-left-radius:12px;
  
  -moz-border-radius-bottomright:12px;
  -webkit-border-bottom-right-radius:12px;
  border-bottom-right-radius:12px;
  
  -moz-border-radius-topright:12px;
  -webkit-border-top-right-radius:12px;
  border-top-right-radius:12px;
  
  -moz-border-radius-topleft:12px;
  -webkit-border-top-left-radius:12px;
  border-top-left-radius:12px;
}
.table table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;

}
.table tr:last-child td:last-child {
  -moz-border-radius-bottomright:12px;
  -webkit-border-bottom-right-radius:12px;
  border-bottom-right-radius:12px;
}
.table table tr:first-child td:first-child {
  -moz-border-radius-topleft:12px;
  -webkit-border-top-left-radius:12px;
  border-top-left-radius:12px;
}
.table table tr:first-child td:last-child {
  -moz-border-radius-topright:12px;
  -webkit-border-top-right-radius:12px;
  border-top-right-radius:12px;
}
.table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:12px;
  -webkit-border-bottom-left-radius:12px;
  border-bottom-left-radius:12px;
}
.table tr:hover td{
  
}
.table tr:nth-child(odd){ background-color:#ff7f00; }
.table tr:nth-child(even)    { background-color:#8258fa; }.table td{
  vertical-align:middle;
  
  
  border:2px solid #ff0000;
  border-width:2px;
  text-align:center;
  padding:7px;
  font-size:14px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}
.table tr:last-child td{
  border-width:2px;
}
.table tr td:last-child{
  border-width:2px;
}
.table tr:last-child td:last-child{
  border-width:2px;
}

.table tr:first-child td{
    background:-o-linear-gradient(bottom, #0000bf 5%, #0000bf 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000bf), color-stop(1, #0000bf) );
  background:-moz-linear-gradient( center top, #0000bf 5%, #0000bf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000bf", endColorstr="#0000bf");  background: -o-linear-gradient(top,#0000bf,0000bf);

  background-color:#0000bf;
  border:2px solid #ff0000;
  text-align:center;
  border-width:2px;
  font-size:17px;
  font-family:Georgia;
  font-weight:bold;
  color:#ffff00;
}

.table tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #0000bf 5%, #0000bf 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000bf), color-stop(1, #0000bf) );
  background:-moz-linear-gradient( center top, #0000bf 5%, #0000bf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000bf", endColorstr="#0000bf");  background: -o-linear-gradient(top,#0000bf,0000bf);

  background-color:#0000bf;
}

.table tr:first-child td:first-child{
  border-width:2px;
}

.table tr:first-child td:last-child{
  border-width:2px;
}

.new {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45d66c), color-stop(1, #478c21));
  background:-moz-linear-gradient(top, #45d66c 5%, #478c21 100%);
  background:-webkit-linear-gradient(top, #45d66c 5%, #478c21 100%);
  background:-o-linear-gradient(top, #45d66c 5%, #478c21 100%);
  background:-ms-linear-gradient(top, #45d66c 5%, #478c21 100%);
  background:linear-gradient(to bottom, #45d66c 5%, #478c21 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45d66c', endColorstr='#478c21',GradientType=0);
  background-color:#45d66c;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  border-radius:22px;
  border:1px solid #379941;
  display:inline-block;
  cursor:pointer;
  color:#141314;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.new:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #478c21), color-stop(1, #45d66c));
  background:-moz-linear-gradient(top, #478c21 5%, #45d66c 100%);
  background:-webkit-linear-gradient(top, #478c21 5%, #45d66c 100%);
  background:-o-linear-gradient(top, #478c21 5%, #45d66c 100%);
  background:-ms-linear-gradient(top, #478c21 5%, #45d66c 100%);
  background:linear-gradient(to bottom, #478c21 5%, #45d66c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#478c21', endColorstr='#45d66c',GradientType=0);
  background-color:#478c21;
}
.new:active {
  position:relative;
  top:1px;
}

.edit {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbc42e), color-stop(1, #edb863));
  background:-moz-linear-gradient(top, #dbc42e 5%, #edb863 100%);
  background:-webkit-linear-gradient(top, #dbc42e 5%, #edb863 100%);
  background:-o-linear-gradient(top, #dbc42e 5%, #edb863 100%);
  background:-ms-linear-gradient(top, #dbc42e 5%, #edb863 100%);
  background:linear-gradient(to bottom, #dbc42e 5%, #edb863 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbc42e', endColorstr='#edb863',GradientType=0);
  background-color:#dbc42e;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:arial;
  font-size:18px;
  font-weight:bold;
  padding:9px 22px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.edit:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #edb863), color-stop(1, #dbc42e));
  background:-moz-linear-gradient(top, #edb863 5%, #dbc42e 100%);
  background:-webkit-linear-gradient(top, #edb863 5%, #dbc42e 100%);
  background:-o-linear-gradient(top, #edb863 5%, #dbc42e 100%);
  background:-ms-linear-gradient(top, #edb863 5%, #dbc42e 100%);
  background:linear-gradient(to bottom, #edb863 5%, #dbc42e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edb863', endColorstr='#dbc42e',GradientType=0);
  background-color:#edb863;
}
.edit:active {
  position:relative;
  top:1px;
}

.search_box {
  background:-moz-linear-gradient(top, #ffd73a, #ffa500);
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd73a), to(#ffa500));
  border:1px solid #d28703;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -moz-box-shadow:inset 0 1px #ffff90, inset 0 -2px 2px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
  -webkit-box-shadow:inset 0 1px #ffff90, inset 0 -2px 2px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
  padding:9px;
  width:570px;
}

.wrapper {
  background:#fff;
  border:1px solid #d28703;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0;
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0;
  padding:13px 0 10px 8px;
  position:relative;
}

#search { border:none; color:#333; font:bold 24px Helvetica, Arial, sans-serif; width:510px; }

.search_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:12px;
  padding:6px 17px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
.search_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}

.search_button:active {
  position:relative;
  top:1px;
}
.newtable{
  font-size: 15pt;
  color:black;
  opacity: 0.7;
  font-style: bold;
}

.actions {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:italic;
  padding:10px 22px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.actions:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;
}
.actions:active {
  position:relative;
  top:1px;
}
#username{
  font-size:15pt;
}


.loginpage{
  font-size:15pt;
}

#password{
  font-size:15pt;
}
